.select-choice-cards-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--cards-space);

	@media screen and (max-width: 1024px) {
		height: 100%;
		flex-direction: column;
	}
}