.star-wars-intro {
	width: 100%;
	height: 100%;
	font-weight: 700;
	color: var(--sw-color);
	background-color: #000;
	overflow: hidden;
	position: relative;
}

.star-wars-intro .main-content {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 50em;
	bottom: 0;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	line-height: 6rem;
	transform-origin: 50% 100%;
	transform: perspective(350px) rotateX(25deg);
}

.star-wars-intro .main-content:after {
	position: absolute;
	content: " ";
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
	pointer-events: none;
}

.star-wars-intro .start-game-button {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	color: var(--sw-color);
	border: 6px solid var(--sw-color);
	padding: 20px;
	background: transparent;
	display: block;
	text-align: center;
	z-index: 10;
	font-size: 2rem;
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
	transition: all .3s;
}

.star-wars-intro .start-game-button:hover,
.star-wars-intro .start-game-button:active,
.star-wars-intro .start-game-button:focus {
	background-color: var(--sw-color);
	border-color: var(--sw-color);
	color: black;
}

.star-wars-intro .title-content {
	position: absolute;
	top: 100%;
	animation: scroll 120s linear 4s forwards;
	text-align: center;

}

.star-wars-intro .title-content > .title {
	text-align: center;
	margin-bottom: 40px;
}

.star-wars-intro p.initial-content {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	inset: 0;
	font-size: 200%;
	font-weight: 400;
	color: #4ee;
	opacity: 0;
	z-index: 1;
	margin: 0 20px;
	text-align: center;
	-webkit-animation: intro 2s ease-out;
	-moz-animation: intro 2s ease-out;
	-ms-animation: intro 2s ease-out;
	-o-animation: intro 2s ease-out;
	animation: intro 2s ease-out;
}

.star-wars-intro .main-logo {
	position: absolute;
	inset: 0;
	opacity: 0;
	z-index: 1;
	-webkit-animation: logo 8s ease-out;
	-moz-animation: logo 8s ease-out 2.5s;
	-ms-animation: logo 8s ease-out 2.5s;
	-o-animation: logo 8s ease-out 2.5s;
	animation: logo 8s ease-out 2.5s;
}

.star-wars-intro .main-logo > img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 720px) {
	.star-wars-intro .main-content {
    	font-size: 35px;
		line-height: 3rem;

  	}
  	.star-wars-intro .title-content {
    	position: absolute;
    	top: 100%;
    	animation: scroll 100s linear 4s forwards;
  	}
}
